body {
background-color: #fff;
}

.header {
    display: relative;
    color: #cccccc;
    font-family: 'Questrial', sans-serif;
    font-size: 100px;
    letter-spacing: -10px;
    text-align: center;
}

.header:hover {
    display: relative;
    color: #cccccc;
    font-family: 'Questrial', sans-serif;
    font-size: 100px;
    letter-spacing: 0px;
    text-align: center;
    opacity: 0.5;
    transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
    transition: letter-spacing 1s;
}

.fade {
   opacity: 1;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}

   .fade:hover {
      opacity: 0.5;
      }

.links {
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #cccccc;
  font-family: 'Questrial', sans-serif;
  font-size: 20px;
  text-align: center;
}
